{% extends "base.html" %} {% load static %} {% block content %}
<main class="2xl:ml-[--w-side] xl:ml-[--w-side-md] md:ml-[--w-side-small]">
    <div class="p-10 relative">
        <div class="relative z-20">
            <!-- Preview -->
            <div class="relative uk-slider uk-slider-container" tabindex="0" uk-slider="finite: true; autoplay: true">
                <ul class="-ml-2 uk-slider-items grid-small">
                    {% for status in statuses %}
                        <li class="w-1/4" tabindex="-1">
                            <div class="status-content">
                                {% if status.media_type == 'video' %}
                                    <video class="rounded-md w-full h-full object-cover" controls>
                                        <source src="{{ status.media.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                {% else %}
                                    <img src="{{ status.media.url }}" class="rounded-md w-full h-full object-cover" alt="Status Image">
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                 
                <!-- dotnav -->
                <ul class="flex justify-center my-5 uk-dotnav uk-slider-nav gap-2.5">
                    {% for status in statuses %}
                        <li uk-slider-item="{{ forloop.counter0 }}"><a href=""></a></li>
                    {% endfor %}
                </ul>
        
                <!-- navigation -->
                <a class="absolute -translate-y-1/2 bg-white rounded-full top-1/2 left-2 grid w-9 h-9 place-items-center shadow dark:bg-dark3" href="#" uk-slider-item="previous">
                    <ion-icon name="chevron-back" class="text-2xl md hydrated" role="img" aria-label="chevron back"></ion-icon>
                </a>
                <a class="absolute right-2 -translate-y-1/2 bg-white rounded-full top-1/2 grid w-9 h-9 place-items-center shadow dark:bg-dark3" href="#" uk-slider-item="next">
                    <ion-icon name="chevron-forward" class="text-2xl md hydrated" role="img" aria-label="chevron forward"></ion-icon>
                </a>
            </div>
        </div>
    
        <!-- Background Images -->
        <img src="{% static 'assets/images/demos/beams.jpg' %}" alt="" class="dark:hidden absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2 w-[1200px]">
        <div class="absolute z-10 inset-0 bg-[url('../images/demos/grid.svg')] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
        
        <div class="hidden dark:inline w-full z-0 h-full absolute inset-0 bg-gradient-to-tr from-slate-900 to-slate-900 via-slate-800/70 via-60%"></div>
    </div>
    
  
</main>
{% endblock %}
