{% extends "base.html" %}
{% load static %}
    


{% block content %}
<main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

    <div class="max-w-3xl mx-auto">


        <div class="box relative rounded-lg shadow-md">

            <div class="flex md:gap-8 gap-4 items-center md:p-8 p-6 md:pb-4">


                <div class="relative md:w-20 md:h-20 w-12 h-12 shrink-0"> 

                    <label for="file" class="cursor-pointer">
                        <img id="img" src="{% static 'assets/images/avatars/avatar-3.jpg' %}" class="object-cover w-full h-full rounded-full" alt="">
                        <input type="file" id="file" class="hidden">
                    </label>

                    <label for="file" class="md:p-1 p-0.5 rounded-full bg-slate-600 md:border-4 border-white absolute -bottom-2 -right-2 cursor-pointer dark:border-slate-700">

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="md:w-4 md:h-4 w-3 h-3 fill-white">
                            <path d="M12 9a3.75 3.75 0 100 7.5A3.75 3.75 0 0012 9z"></path>
                            <path fill-rule="evenodd" d="M9.344 3.071a49.52 49.52 0 015.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 01-3 3h-15a3 3 0 01-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 001.11-.71l.822-1.315a2.942 2.942 0 012.332-1.39zM6.75 12.75a5.25 5.25 0 1110.5 0 5.25 5.25 0 01-10.5 0zm12-1.5a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd"></path>
                        </svg>

                        <input id="file" type="file" class="hidden">
    
                    </label>

                </div>

                <div class="flex-1">
                    <h3 class="md:text-xl text-base font-semibold text-black dark:text-white"> Vipul tarur </h3>
                    <p class="text-sm text-blue-600 mt-1 font-normal">@{{request.user.username}} </p>
                </div>

                <button class="inline-flex items-center gap-1 py-1 pl-2.5 pr-3 rounded-full bg-slate-50 border-2 border-slate-100 dark:text-white dark:bg-slate-700" type="button" aria-haspopup="true" aria-expanded="false"> 
                    <ion-icon name="flash-outline" class="text-base duration-500 group-aria-expanded:rotate-180 md hydrated" role="img" aria-label="chevron down outline"></ion-icon> 
                   <span class="font-medium text-sm"> Upgrade  </span> 
                </button>
            </div>

            <!-- nav tabs -->
            <div class="relative border-b uk-slider" tabindex="-1" uk-slider="finite: true">

                <nav class="uk-slider-container overflow-hidden nav__underline px-6 p-0 border-transparent -mb-px">
    
                    <ul class="uk-slider-items w-[calc(100%+10px)] !overflow-hidden" uk-switcher="connect: #setting_tab ; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium" style="transform: translate3d(0px, 0px, 0px);"> 
                        
                        <li class="w-auto pr-2.5" tabindex="-1"> <a href="#" aria-expanded="false"> Description </a> </li>
                        
                        
                    </ul>
                
                </nav>
                        
                <a class="absolute -translate-y-1/2 top-1/2 left-0 flex items-center w-20 h-full p-2 py-1 justify-start bg-gradient-to-r from-white via-white dark:from-slate-800 dark:via-slate-800 uk-invisible" href="#" uk-slider-item="previous"> <ion-icon name="chevron-back" class="text-2xl ml-1 md hydrated" role="img" aria-label="chevron back"></ion-icon> </a>
                <a class="absolute right-0 -translate-y-1/2 top-1/2 flex items-center w-20 h-full p-2 py-1 justify-end bg-gradient-to-l from-white via-white dark:from-slate-800 dark:via-slate-800" href="#" uk-slider-item="next">  <ion-icon name="chevron-forward" class="text-2xl mr-1 md hydrated" role="img" aria-label="chevron forward"></ion-icon> </a>
        
            </div> 


            <div id="setting_tab" class="uk-switcher md:py-12 md:px-20 p-6 overflow-hidden text-black text-sm" style="touch-action: pan-y pinch-zoom;"> 
                

                <!-- tab user basic info -->
                <div class="" style="">

                    <form action="{% url 'newpost' %}"  method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="space-y-6">                         
                            <div class="flex items-center justify-center w-full">
                                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                        </svg>
                                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                    </div>
                                    <input id="dropzone-file" type="file" class="hidden" name="picture" />
                                </label>
                            </div> 

                            
                            <div class="md:flex items-start gap-10">
                                <label class="md:w-32 text-right"> Caption </label>
                                <div class="flex-1 max-md:mt-4">
                                    <textarea class="w-full" rows="5" name="caption" placeholder="Inter your Caption"></textarea>
                                </div>
                            </div> 
                            <div class="md:flex items-center gap-10">
                                <label class="md:w-32 text-right"> tag </label>
                                <div class="flex-1 max-md:mt-4">
                                    <input type="text" name="tags" placeholder="#tag" class="w-full">
                                </div>
                            </div> 

                        <div class="flex items-center gap-4 mt-16 lg:pl-[10.5rem]">
                            <a href="{% url 'index' %}" class="button lg:px-6 bg-secondery max-md:flex-1"> Cancle</a>
                            <button type="submit" class="button lg:px-10 bg-primary text-white max-md:flex-1"> Save <span class="ripple-overlay"></span></button>
                        </div>
                        
                    </div> 

                </form>



            </div>
            
        
        </div>

        
    </div>
    
</main>
{% endblock  %}
 