{% extends "base.html" %}
{% load static %}
    


{% block content %}
<main id="site__main" class="2xl:ml-[--w-side]  xl:ml-[--w-side-sm] p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top]">

    <div class="max-w-3xl mx-auto">


        <div class="box relative rounded-lg shadow-md">

            
            <!-- nav tabs -->
            <div class="relative border-b uk-slider" tabindex="-1" uk-slider="finite: true">

                <nav class="uk-slider-container overflow-hidden nav__underline px-6 p-0 border-transparent -mb-px">
    
                    <ul class="uk-slider-items w-[calc(100%+10px)] !overflow-hidden" uk-switcher="connect: #setting_tab ; animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium" style="transform: translate3d(0px, 0px, 0px);"> 
                        
                        <li class="w-auto pr-2.5" tabindex="-1"> <a href="#" aria-expanded="false"> Description </a> </li>
                        
                        
                    </ul>
                
                </nav>
                        
                <a class="absolute -translate-y-1/2 top-1/2 left-0 flex items-center w-20 h-full p-2 py-1 justify-start bg-gradient-to-r from-white via-white dark:from-slate-800 dark:via-slate-800 uk-invisible" href="#" uk-slider-item="previous"> <ion-icon name="chevron-back" class="text-2xl ml-1 md hydrated" role="img" aria-label="chevron back"></ion-icon> </a>
                <a class="absolute right-0 -translate-y-1/2 top-1/2 flex items-center w-20 h-full p-2 py-1 justify-end bg-gradient-to-l from-white via-white dark:from-slate-800 dark:via-slate-800" href="#" uk-slider-item="next">  <ion-icon name="chevron-forward" class="text-2xl mr-1 md hydrated" role="img" aria-label="chevron forward"></ion-icon> </a>
        
            </div> 


            <div id="setting_tab" class="uk-switcher md:py-12 md:px-20 p-6 overflow-hidden text-black text-sm" style="touch-action: pan-y pinch-zoom;"> 
                

                <!-- tab user basic info -->
                <div class="" style="">
                    <form action="{% url 'update_post' post.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="space-y-6">                         
                    
                            <!-- Display current picture -->
                            <div class="bg-indigo-300">
                                <img class="object-cover" src="{{ post.picture.url }}" style="height:400px;">
                            </div>
                    
                            <!-- Caption field -->
                            <div class="md:flex items-start gap-10">
                                <label class="md:w-32 text-right">Caption</label>
                                <div class="flex-1 max-md:mt-4">
                                    <textarea class="w-full" rows="5" name="caption" placeholder="Enter your Caption">{{ post.caption }}</textarea>
                                </div>
                            </div> 
                    
                            <!-- Tags field -->
                            <div class="md:flex items-center gap-10">
                                <label class="md:w-32 text-right">Tags</label>
                                <div class="flex-1 max-md:mt-4">
                                    <input type="text" name="tags" placeholder="#tag" class="w-full" value="{{ post.tags.all|join:', ' }}">
                                </div>
                            </div> 
                    
                            <!-- Submit and Cancel buttons -->
                            <div class="flex items-center gap-4 mt-16 lg:pl-[10.5rem]">
                                <a href="{% url 'index' %}" class="button lg:px-6 bg-secondary max-md:flex-1">Cancel</a>
                                <button type="submit" class="button lg:px-10 bg-primary text-white max-md:flex-1">Save <span class="ripple-overlay"></span></button>
                            </div>
                            
                        </div>
                    </form>
                    
                    
                    

                </div>



            </div>
            
        
        </div>

        
    </div>
    
</main>
{% endblock  %}
 